$custom1: #F1DDBF;
$custom2: #525E75;
$custom3: #78938A;
$custom4: #92BA92;


$primary:       $custom1;
$secondary:     $custom2;
$info:          $custom3;
$success:       $custom4;


$carousel-caption-color:            $custom1;

.carousel-item{
    height: 400px;
    width: 100%;
    font-family: 'Pacifico', cursive;
    font-size: x-large;
} 
.carousel-item img{
    height: 400px;
    width: 100%;
}
.carousel-caption {
    position: absolute;
    top:40px;
 }

@import "../node_modules/bootstrap/scss/bootstrap";


